.headerDiv {
    padding-top: 15px;
} 

.notificationIcon {
    color: #fff;
    font-size: large;
}

.separator {
    border-left: 2px solid #bbb;
    height: 30px;
    margin: 0 10px;
}

.account {
    display: flex;
    align-items: center;
}

.accountName {
    margin: 0 10px;
    font-family: 'Open Sans';
    color: #333;
}

.accountIcon {
    width: 30px;
    border-radius: 50%;
}

.headerText {
    font-family: 'Open Sans';
    margin: 0 10px;
    color: #333;
    font-size: large;
}

.text {
    font-family: 'Open Sans';
    margin: 0 10px;
    color: #333;
}

@media(max-width: 720px) {
    .accountName {
        display: none;
    }

    .headerDiv {
        padding-top: 2px;
    }

    .notificationIcon {
        font-size: 12px;
    }

    .accountIcon {
        font-size: 12px;
    }

    .headerText {
        font-size: medium;
    }

    .text {
        font-size: 12px;
    }
}