.bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.mobileBg {
    display: none;
}

@media(max-width: 600px) {
    .mobileBg {
        position: absolute;
        width: 100%;
        z-index: -1;
        display: block;
    }

    .bg {
        display: none;
    }
}